@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

/* set default font */

* {
  font-family: Lato;
}


/* NavBar Styling */

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px 0 15px;
}

nav ul li a {
  color: #444;
  text-decoration: none;
}

nav ul li a:hover {
  color: #999;
}


/* IconButtons Styling */
.icon-buttons {
  font-size: .7em;
  padding-top: 1em;
}

.icon-buttons a {
  color: #444;
  padding: 1em;
}

.icon-buttons a:hover {
  color: #f28020;
}
