/* CSS declarations go here. */

/* set default font */
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

* {
  font-family: Lato;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px 0 15px;
}
