@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

/* set default font */

* {
  font-family: Lato;
}

/* Header Styling */
.header-container {
  width: 280px;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: green;
}

.header-left {
  justify-content: flex-start;
}

.header-middle {
  justify-content: space-between;
}

.header-right {
  justify-content: flex-end;
}

/* NavBar Styling */

.nav-link {
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  color: #999;
}


/* IconButtons Styling */
.icon-buttons {
  font-size: .7em;
  padding-top: 1em;
}

.icon-buttons a {
  color: #444;
  padding: 1em;
}

.icon-buttons a:hover {
  color: #f28020;
}
